{% extends "base.html" %}

{% block title %}Tags - gertjanassies.dev{% endblock title %}
{% block og_title %}Tags - gertjanassies.dev{% endblock og_title %}
{% block twitter_title %}Tags - gertjanassies.dev{% endblock twitter_title %}
{% block og_description %}Browse all tags on gertjanassies.dev{% endblock og_description %}
{% block twitter_description %}Browse all tags on gertjanassies.dev{% endblock twitter_description %}
{% block canonical %}{{ config.base_url }}/tags/{% endblock canonical %}
{% block og_url %}{{ config.base_url }}/tags/{% endblock og_url %}

{% block content %}
<div class="blog-page">
  <div class="page-view-container">
    <h1>Tags</h1>
    <div class="taxonomy-list">
      {% for term in terms %}
        <a href="{{ term.permalink }}" class="tag taxonomy-term">
          {{ term.name }} <span class="taxonomy-count">({{ term.pages | length }})</span>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
