<div class="certifications">
  <div class="certification-badge">
    <a href="https://www.credly.com/badges/e429c916-eca4-4e1a-99f0-7b0035d0984e" target="_blank" rel="noopener noreferrer" class="certification-link" title="AWS Certified Solutions Architect Associate">
      <img src="/images/badges/aws-certified-solutions-architect-associate.png" alt="AWS Certified Solutions Architect Associate" width="150" height="150" loading="lazy" />
    </a>
  </div>
  <div class="certification-badge">
    <a href="https://www.credly.com/badges/a7e6f1ec-d156-43a3-a711-1e782cf17c41" target="_blank" rel="noopener noreferrer" class="certification-link" title="HashiCorp Certified: Terraform Associate">
      <img src="/images/badges/hashicorp-certified-terraform-associate-003.png" alt="HashiCorp Certified: Terraform Associate" width="150" height="150" loading="lazy" />
    </a>
  </div>
  <div class="certification-badge">
    <a href="https://edu.kanban.university/user/83575/8/qualification-certificate/R2VydGphbiBBc3NpZXM6ZzlUaTJEQ2pUUWIqM1llNjoxNzYwMzYwMTM2" target="_blank" rel="noopener noreferrer" class="certification-link" title="Kanban Management Professional">
      <img src="/images/badges/KMP_Badge.svg" alt="Kanban Management Professional" width="150" height="150" loading="lazy" />
    </a>
  </div>
</div>
